@import "tailwindcss";

* {
  background-color: pink;
}

/* ==== Typography ==== */
h1 {
  color: var(--color-text-headline);
  font-size: var(--step-5);
  text-transform: uppercase;
}

h2 {
  color: var(--color-text-headline);
  font-size: var(--step-4);
  text-transform: uppercase;
}

h3 {
  color: var(--color-text-headline);
  font-size: var(--step-3);
  text-transform: uppercase;
}

p {
  color: var(--color-text-body);
  font-size: var(--step-2);
}

li {
  color: var(--color-text-headline);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rlh;
  padding-inline: max(1rlh, 50% - 600px / 2);
  background: lavender;
}

nav {
  ul {
    border: 0;
    list-style-type: "";
    background: transparent;
    gap: 0.5rlh 1rlh;
    &:popover-open {
      position-area: bottom span-left;
      display: grid;
      padding: 1rlh;
      background: lavender;
      border: revert;
    }
    @media not (width <= 800px) {
      margin: unset;
      position: unset;
      display: flex;
    }
  }
  button {
    @media not (width <= 800px) {
      display: none;
    }
  }
}
