:root {
  /* ==== Colors ==== */
  --color-text-headline: oklch(100% 0 0);
  --color-text-body: oklch(82.03% 0 0);
  --color-surface-highlight-primary: oklch(65.35% 0.242 9.27);
  --color-surface-highlight-secondary: oklch(53.17% 0.197 9.42);
  --color-bg: oklch(0% 0 0);

  /* ==== Spacing ==== */
  --space-xs: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --space-s: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);

  /* ==== Typography ==== */
  --step--2: clamp(0.7813rem, 0.7457rem + 0.1578vw, 0.8681rem);
  --step--1: clamp(0.9375rem, 0.8949rem + 0.1894vw, 1.0417rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2886rem + 0.2727vw, 1.5rem);
  --step-2: clamp(1.62rem, 1.5464rem + 0.3273vw, 1.8rem);
  --step-3: clamp(1.944rem, 1.8556rem + 0.3927vw, 2.16rem);
  --step-4: clamp(2.3328rem, 2.2268rem + 0.4713vw, 2.592rem);
  --step-5: clamp(2.7994rem, 2.6721rem + 0.5655vw, 3.1104rem);
}
